
    /* reset */
html, body{
    max-width: 100%;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Oxanium Regular', serif;
    font-weight: 400;

    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    color: white;

}
/* base style*/

/* fonts*/
@font-face {
    font-family: 'Oxanium Regular';
    src: url("../fonts/Oxanium/Oxanium-Regular.ttf");
}


figure{
    font-size: 1.2em;
    border-bottom: 0;
    text-align: center;
}
/* mobiele styles */


figure{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}
.logo{
    width: 80%;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    width: 95%;
    padding: 0 2% 2%;
}
article{
    display: flex;
    background: RGBA(30, 35, 38, 0.7);
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem;
}
.landing{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}
.landing input{
    width: 13rem;
    max-width: 380px;
    padding: 20px 15px;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem 0 1rem 0;
    border-bottom: 3px solid #D4f8;
    color: #331133;

    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

.landing input:focus{
    background-color: rgba(0, 0, 0, 0.53);
    color: white;
}

.ground{
    min-width: 12.5rem;
    width: 18.75rem;
    height: 15rem;
    margin: 1.5rem auto;
}
.bar{
    min-width: 12.5rem;
    width: 18.75rem;
    height: 25rem;
    margin: 1.5rem auto;
    background: RGBA(30, 35, 38, 0.7);
    font-family: 'Oxanium Regular', serif;
    display: flex;
    align-items: center;
    justify-content: center;
}





/*  tabvar styles*/
@media screen and ( min-width: 620px) {
    html {
        height: 100%;
    }
    main{
        flex-wrap: wrap;
        flex-direction: row;
    }

    article{
        width: 30%;
    }
    .bar{
        width: 90%;
    }
    .clock{
        font-size: 3.1rem;
    }
    .logo{
        width: 15rem;
    }
}


/* Desktop */
@media screen and (min-width: 1200px) {
    .pie .radar{
        width: 50%;
    }
    .logo{
        width: 15rem;
    }
    .bar{
        height: 10rem;
        padding: 1rem;
        padding-top: 0rem;
    }
}

